block(icon) {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:empty:after {
    content: none;
  }

  @each $size,
    $fontSize in
    (     xs,        s,    m,       l,     xl,  xxl ),
    ( 0.5rem,  0.85rem, 1rem, 1.25rem, 1.5rem, 2rem ) {
    mod(size $size) {
      font-size: $fontSize;
    }
  }
}
