version: '3.7'

x-project: &function
  image: app_base:latest
  environment:
    CACHE_TTL: 300000
  command:
    - /bin/sh
    - -c
    - |
      cd /home/node/app && \
      npm run make && \
      pm2-runtime ecosystem.config.js
  tty: true
  restart: unless-stopped
  networks:
    - app-network

services:
  base:
    build:
      context: .
    image: app_base:latest
    tty: true

  site_ru:
    <<: *function
    environment:
      LANGS: '[ "ru", "en" ]'

  site_en:
    <<: *function
    environment:
      LANGS: '[ "en", "ru" ]'

  nginx:
    build: ./.config
    image: umputun/nginx-le:latest
    hostname: nginx
    restart: unless-stopped
    container_name: nginx
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    volumes:
      - ./.config/etc/ssl:/etc/nginx/ssl
      - ./.config/etc/severkabel-ru.conf:/etc/nginx/service-severkabel-ru.conf
      - ./.config/etc/severkabel-en.conf:/etc/nginx/service-severkabel-en.conf
      - ./static:/srv/docroot
    ports:
      - 80:80
      - 443:443
    environment:
      - TZ=Europe/Moscow
      - LETSENCRYPT=true
      - LE_EMAIL=tatiana@severkabel.ru
      - LE_FQDN=severkabel.ru,en.severkabel.ru
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
