block(paragraph) {
  color: var(--paragraph-color, inherit);
  margin: 0;

  @each $size,
    $fontSize in
    (      xs,        s,     m,         l,       xl,     xxl),
    ( 0.75rem, 0.875rem,  1rem,  1.125rem,  1.25rem,  1.5rem) {
    mod(size $size) {
      font-size: $fontSize;
    }
  }

  & + & {
    margin-top: 1em;
  }
}

p {
  color: var(--paragraph-color, inherit);
  margin: 0;
  font: inherit;

  & + & {
    margin-top: 1em;
  }
}
