block(page).elem(lines) {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(page__lines.png);
    background-size: cover;
  }
}
