block(navigation).mod(view header) {
  /* font-size: 18px; */

  @media (min-width: 1024px) {
    font-size: 1rem;
  }

  elem(phone),
  elem(close) {
    display: block;

    @media (min-width: 1024px) {
      display: none;
    }
  }


}
