block(list).mod(of letters) {
  lost-center: 100vw;
  flex-wrap: nowrap;
  overflow: visible;

  elem(item) {
    lost-column: 1/1 0 60px;

    @media (min-width: 1024px) {
      lost-column: 1/3 0 60px;
      margin-top: 5em;

      &:nth-of-type(even) {
        margin-top: 10em;
      }
    }
  }

  elem(image) {
    width: 100%;
    height: 0;
    padding-top: 141.42%;
    border: 1em solid #c7e5fc;
    box-sizing: border-box;
    background-size: cover;
    background-origin: content-box;
  }

  elem(description) {
    @media (min-width: 1024px) {
      color: #000;
    }
  }
}
