block(list).mod(of innovations) {
  lost-center: 100%;

  elem(item) {
    lost-column: 1/1 1 0px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    box-sizing: border-box;
    margin-bottom: 1em;
    background-color: #004e87;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 1024px) {
      lost-column: 1/2 2 1em;
      padding-left: 2em;
      padding-top: 3em;
      padding-right: 2em;
      padding-bottom: 3em;
    }

    &:last-child {
      lost-column: 1/1 1 0px;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    mod(image) {
      padding-top: 9em;
      padding-bottom: 3em;

      @media (min-width: 1024px) {
        padding-top: 18em;
        padding-bottom: 4em;
      }
    }
  }

  elem(subheading) {
    font-weight: normal;
    margin-top: 1em;
  }
}
