block(menu).mod(view footer) {
  lost-center: 100%;
  align-items: center;
  align-content: center;
  background-color: transparent;
  box-shadow: none;

  elem(item) {
    lost-column: 1/1 1 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    box-sizing: border-box;

    @media (min-width: 1024px) {
      lost-column: 1/3 3 30px;
    }
  }

  block(link) {
    color: inherit;
    text-decoration: none;
  }
}
