block(menu).mod(view header) {
  background-color: transparent;
  box-shadow: none;

  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  elem(item) {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    text-align: right;

    & + elem(item) {
      margin-top: .5em;
    }

    @media (min-width: 1024px) {
      & + elem(item) {
        margin-top: 0;
        margin-left: 1em;
      }
    }

    @media (min-width: 1440px) {
      & + elem(item) {
        margin-left: 1.5em;
      }
    }

    mod(checked) {
      background: none;
      box-shadow: inset 0px -2px 0 0px hsl(194, 100%, 42%);
    }
  }

  block(link) {
    color: inherit;
    text-decoration: none;
  }
}
