block(page).elem(section).mod(view mission) {
  padding-top: 2em;
  padding-bottom: 2em;
  box-sizing: border-box;

  elem(heading) {
    margin-bottom: 1em;
  }

  elem(letters) {
    overflow-y: hidden;
    overflow-x: visible;
  }

  @media (min-width: 1024px) {
    margin-bottom: 460px;

    elem(letters) {
      margin-bottom: -360px;
    }

    elem(aside) {
      lost-column: 1/4 0 0px;
    }

    elem(content) {
      lost-column: 3/4 1 0px;
    }
  }
}
