block(logo).elem(text) {
  white-space: nowrap;
  font-size: inherit;
  font-variant: small-caps;
  font-feature-settings: 'smcp';
  margin-left: 10px;
  height: 1em;

  svg {
    height: 100%;
  }
}
