block(header).elem(menu) {
  display: none;
  align-items: center;
  flex: 1;
  justify-content: center;

  @media (min-width: 1024px) {
    display: flex;
  }

  mod(visible) {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsl(205, 100%, 26%);
    z-index: 10;

    justify-content: space-between;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    align-items: flex-end;
  }
}

