block(header).elem(menu) {
  /* display: none; */
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 450ms;

  @media (max-width: 1024px) {
    flex-direction: column;
    background-color: var(--header-background-color);

    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
    box-sizing: border-box;
    align-items: flex-end;
    box-shadow: 0 6px 10px -6px #000;
  }

  @media (min-width: 1024px) {
    max-height: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  mod(visible) {
    max-height: 100vh;
  }
}

