block(navigation).elem(phone) {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.44px;
  color: inherit;
  text-decoration: none;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  box-sizing: border-box;
}
