block(event).mod(view detail) {
  lost-center: 100%;

  elem(header) {
    lost-center: 100%;
    position: relative;
    margin-bottom: 1em;

    @media (min-width: 1024px) {
      margin-bottom: 5em;
    }

    elem(main) {
      @media (min-width: 1024px) {
        lost-column: 1/4;
        padding-top: 20em;
        position: relative;
        z-index: 1;
      }
    }

    elem(aside) {
      background-color: transparent;

      @media (min-width: 1024px) {
        lost-column: 3/4;
      }
    }
  }

  elem(back) {
    width: 9em;
    padding-top: 1em;
    box-sizing: border-box;
  }

  elem(image) {
    max-height: 530px;
  }

  elem(title) {
    lost-column: 1/1 1 0px;
    margin-bottom: 1em;

    @media (min-width: 1024px) {
      margin-bottom: 4em;
    }
  }

  elem(content) {
    padding-bottom: 2em;

    @media (min-width: 1024px) {
      lost-column: 3/5 0 0px;
    }
  }

  elem(aside) {
    background-color: hsl(0, 0%, 90%);
    box-sizing: border-box;
    padding: 10px 20px;

    @media (min-width: 1024px) {
      padding: 30px 50px;
      lost-column: 2/5 1 30px;
    }
  }
}
